body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}


#campgroundCarousel {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.175);
    border-left: 0.1rem solid rgba(0, 0, 0, 0.175);
    border-right: 0.1rem solid rgba(0, 0, 0, 0.175);
}

.carousel-item img {
    max-height: 700px;
    object-fit: contain;
}

.rounded-start {
    max-height: 366px;
    object-fit: contain;
}

.card-img {
    max-height: 200px;
    object-fit: contain;
}
